[Unit]
Description=Hono Grammy BOT
After=network.target

[Service]
User=nginx
WorkingDirectory={{ project_path }}
ExecStart=/home/nginx/.bun/bin/bun {{ project_path }}/src/bot.ts
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target 
