[Unit]
Description=Hono Grammy BOT
After=network.target

[Service]
User={{ bot_user }}
WorkingDirectory={{ project_path }}
ExecStart=/home/{{ bot_user }}/.bun/bin/bun run start
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target 
