server {
    listen 80;
    listen [::]:80;
    server_name {{ bot_host }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate         /etc/letsencrypt/live/{{ main_host }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ main_host }}/privkey.pem;

    server_name {{ bot_host }};

    location / { 
      proxy_pass http://127.0.0.1:{{ bot_port }};  
      proxy_http_version 1.1;  
      proxy_set_header Upgrade $http_upgrade;  
      proxy_set_header Connection 'upgrade';  
      proxy_set_header Host $host;  
      proxy_cache_bypass $http_upgrade;  
    } 
}