name: Bun Install
run-name: Bun Install

on: [push]
  
jobs:
  bun:
    name: bun
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: bun install